In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
n_samples=1000
class_0_ratio=0.9
n_class_0= int(n_samples*class_0_ratio)
nclass_1= n_samples- n_class_0

In [4]:
class_0= pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(0,1,n_class_0),
    'target': [0]*n_class_0
})
class_1= pd.DataFrame({
    'feature_1': np.random.normal(1,2,nclass_1),
    'feature_2': np.random.normal(1,2, nclass_1),
    'target':[1]*nclass_1
})

In [6]:
df= pd.concat([class_0, class_1]).reset_index(drop= True)

In [7]:
df.head()

   feature_1  feature_2  target
0   0.379072   1.589217       0
1  -0.129030  -0.757062       0
2  -1.121856  -0.232814       0
3  -0.129333  -1.208446       0
4   1.146050  -0.466089       0

In [8]:
df.tail()

     feature_1  feature_2  target
995   1.404237   0.976457       1
996   0.755740  -1.363907       1
997   0.920310   1.190626       1
998   2.988167   1.175869       1
999   1.434780  -1.211231       1

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [11]:
from sklearn.utils import resample

In [12]:
majority_class= df[df['target']==0]
minority_class= df[df['target']==1]

In [14]:
df_downsample_majority_class= resample(majority_class, replace= False, n_samples=len(minority_class), random_state=42)

In [15]:
df_downsampled= pd.concat([df_downsample_majority_class,minority_class])

In [18]:
df_downsampled.shape

(200, 3)

In [19]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64