In [1]:
import pandas as pd
df= pd.DataFrame({
    'colors':['red','blue','green', 'red','green','blue']
})

In [2]:
df.head()

  colors
0    red
1   blue
2  green
3    red
4  green

In [4]:
from sklearn.preprocessing import OneHotEncoder
encoder= OneHotEncoder() # creating the intances

In [6]:
encoded=encoder.fit_transform(df[['colors']]).toarray()

In [9]:
encoded_df= pd.DataFrame(encoded, columns= encoder.get_feature_names_out())

In [10]:
encoded_df.head()

   colors_blue  colors_green  colors_red
0          0.0           0.0         1.0
1          1.0           0.0         0.0
2          0.0           1.0         0.0
3          0.0           0.0         1.0
4          0.0           1.0         0.0

In [11]:
pd.concat([df, encoded_df], axis=1)

  colors  colors_blue  colors_green  colors_red
0    red          0.0           0.0         1.0
1   blue          1.0           0.0         0.0
2  green          0.0           1.0         0.0
3    red          0.0           0.0         1.0
4  green          0.0           1.0         0.0
5   blue          1.0           0.0         0.0