In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df= sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
mean_value=df.groupby('time')['total_bill'].mean().round(2).to_dict()

/var/folders/pz/q2_g59_d5rz4vr3vt0jrbzmm0000gn/T/ipykernel_73692/960227833.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_value=df.groupby('time')['total_bill'].mean().round(2).to_dict()

In [7]:
df['time_encoded']= df['time'].map(mean_value)

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size time_encoded
0       16.99  1.01  Female     No  Sun  Dinner     2         20.8
1       10.34  1.66    Male     No  Sun  Dinner     3         20.8
2       21.01  3.50    Male     No  Sun  Dinner     3         20.8
3       23.68  3.31    Male     No  Sun  Dinner     2         20.8
4       24.59  3.61  Female     No  Sun  Dinner     4         20.8